@model AME.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1> Student Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentAge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentAge)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentClass)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentClass)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentGender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentGender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentPhone)
        </dd>
        <dt class="col-sm-2">
            Photo
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content(Model.StudentImage)" alt="Student Photo" style="max-width: 200px; max-height: 200px;" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StudentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
